.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.radio-container img {
    max-width: 45px;
    height: auto;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    top:10%;
    width: 100%;
    height: 65vh;
    position: relative;
}

.btn-play {
    position: relative;
    border: solid 0.5rem #00CED1;
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
    width: 220px; 
    height: 220px; 
}

.btn-play:active {
    border: solid 0.5rem white;
}

.visualizer-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.volume-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 50vw;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
    height: 10vh;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.form-range {
    flex: 1;
    width: 100%;
    margin: 0 10px;
}

.form-range img {
    max-width: 30px;
    height: auto;
    margin: 0 5px;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}


.form-range::-webkit-slider-thumb {
    width: 150px;
    height: 150px;
    background: url('/assets/orzel.png') no-repeat center center;
    background-size: cover;
    margin-top: -75px;
    cursor: pointer;
    z-index: 2;
    outline: none;
    box-shadow: none;
}

.form-range::-webkit-slider-runnable-track {
    height: 3px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 .1rem .25rem black;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

