<div class="parallax-container">
  <div class="parallax-background"> </div>
  <div class="parallax-moon"> </div>
  <div class="parallax-asteroids"> </div>
  <div class="parallax-earth"> </div>
  <div class="banner">
    <h1>RADIO DUPSKO</h1>
    <img class="banner-logo" src="/assets/kurwinox.png" alt="kurwinox">
    <h3>Twoje ulubione radio w galaktyce!</h3>
  </div>
  <img src="/assets/poo_mini.png" #movingImage class="moving-image" alt="image1">
  <img src="/assets/poo_mini.png" #movingImage class="moving-image" alt="image2">
  <img src="/assets/poo_mini.png" #movingImage class="moving-image" alt="image3">
  <img src="/assets/poo_mini.png" #movingImage class="moving-image" alt="image4">
  <img src="/assets/poo_mini.png" #movingImage class="moving-image" alt="image5">
  <app-radio>
  </app-radio>
</div>
<router-outlet />

