@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --primary-color: #8c1eff;
  --secondary-color: #ff0080;
  --accent-color: #00e5ff;
  --highlight-color: #ffea00;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
  
.parallax-background {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-size: cover;
    background-image: url('/assets/background_upper_layer.png');
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform;
    z-index: -1;
}

.parallax-moon, .parallax-asteroids, .parallax-earth{
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  will-change: transform;
}

.parallax-asteroids {
  background-image: url('/assets/asteroidy.png');
}

.parallax-moon {
  background-image: url('/assets/background_down_layer.png');
}

.parallax-earth{
  background-image: url('/assets/ziemia.png');
}

.background-down-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.banner {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  overflow: hidden;
  perspective: 1000px;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.banner-logo {
  position: relative;
  max-width: 125px;
  height: auto;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  margin: -40px;
  animation: float 5s infinite alternate;
}
  
.banner h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem; 
  color: #FFFFFF;
  z-index: 1;
  animation: glow 2.5s infinite alternate, scale 5s infinite alternate;
}

.banner h3 {
  font-family: 'Press Start 2p', cursive;
  position: relative;
  top: 5%;
  font-size: 1rem;
  color: #FFFFFF;
  z-index: 1;
  text-shadow:
    0 0 5px #FFFFFF, 
    0 0 10px #FFFFFF, 
    0 0 15px #FFFFFF;
}
  
@keyframes glow {
  from {
    text-shadow: 
      0 0 10px  #00CED1,
      0 0 20px  #00CED1,
      0 0 30px  #00CED1,
      0 0 40px  #00CED1,
      0 0 50px  #00CED1,
      0 0 60px #FF69B4,
      0 0 70px #FF69B4;
  }
  to {
    text-shadow: 
      0 0 20px #FF69B4,
      0 0 30px #FF69B4,
      0 0 40px #FF69B4,
      0 0 50px #FF69B4,
      0 0 60px #FF69B4,
      0 0 70px #00CED1,
      0 0 80px #00CED1;
  }
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.moving-image {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: 0%;
  z-index: -1;
  opacity: 0.3;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}